@use 'sass:color';
@use "sass:map";

$background-color: #32292F;
$highlight-color: #655560;
$font-stack: 'Outfit', 'Helvetica Neue', Helvetica, Arial, 'PingFang TC', '黑體-繁', 'Heiti TC',
'蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif;

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #F5C16D;
$light: #F7EDE2;
$body-color: $light;
$modal-content-bg: $background-color;
$modal-header-border-color: $highlight-color;
$modal-footer-border-color: $highlight-color;
$btn-close-color: $light;
$input-bg: $background-color;
$input-color: $light;
$input-border-color: $highlight-color;
$input-placeholder-color: #aa92a2;
$form-select-indicator-color: $light;

$border-roundness: 3px;

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/type";


@import "bootstrap/scss/close";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/forms";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api";



body {
  font-family: $font-stack;
  background-color: #32292F;
  color: #F7EDE2;
}

option {
  font-family: $font-stack;
}

.main-timeline {
  position: sticky;
  top: 0;
  background-color: $background-color;
  z-index: 999;
  padding: 1.5rem 20px;

  .main-timeline-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem 0;
    min-height: 50px;

    select {
      margin-left: auto;
      background-color: $background-color;
      color: $light;
      border: 1px solid $light;
      border-radius: $border-roundness;
      padding: 0.25rem 0.5rem;
      max-width: 100%;
    }
  }
}

.timeline {
  border-radius: $border-roundness;
  padding: 0 20px 1.25rem 20px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.timeline-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.25rem 0;

  img {
    width: 32px;
    height: 32px;
    border-radius: $border-roundness;
    margin-right: 1rem;
  }

  figcaption {
    background-color: $background-color;
    display: flex;
    align-items: center;
  }
}

.first-icon {
  color: $primary;
  margin-right: 0.5rem;
}

.timeline-toolbar {
  white-space: nowrap;
  margin-left: auto;
  padding: 0 0.25rem;
  border-radius: $border-roundness;

  display: flex;
  align-items: center;

  font-size: 0.85rem;
  background-color: $highlight-color;
  z-index: 99;

  .first-marker-info {
    width: 230px;
    padding-left: 0.25rem;
  }

  .remaining-time {
    margin-left: auto;
  }

  .timeline-toolbar-buttons {
    margin-left: auto;
  }

  svg {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }

}

button {
  color: inherit;
  border: none;
  background: initial;
  border-radius: $border-roundness;
}

button:focus-visible {
  outline: 2px solid $primary;
}

button:hover {
  color: $primary;
}


.timeline-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: $highlight-color;

  .timeline-main {
    height: 10px;
    background-color: $primary;
  }
}

.marker {
  position: absolute;
  display: block;
  box-sizing: border-box;
  height: 10px;
  right: 0;
  background-color: color.change($primary, $alpha: 0.1);

  .marker-info {
    background-color: #121212;
    color: #F7EDE2;

    position: absolute;
    bottom: 12px;

    height: 0;
    width: fit-content;
    padding: 0.15rem 0.4rem;
    overflow: hidden;

    transform: translateX(-50%);

    border-radius: $border-roundness;
    z-index: 1000;

    font-size: 0.9rem;
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.2s cubic-bezier(.08,.82,.17,1);

    .marker-time {
      font-size: 0.7rem;
    }
  }

  .marker-icon {
    position: absolute;
    font-size: 0.75rem;
    text-align: center;
    width: 18px;
    height: 18px;
    overflow: hidden;
    color: $primary;
    transform: translateX(-8px);

    pointer-events: none;

    top: 0.4rem;
  }
}

.marker::before {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  width: 2px;
  z-index: 99;
  background-color: $background-color;
}

.timeline:hover {
  outline: 2px solid #fcfcfc75;
}

.timeline:focus {
  outline: 2px solid $primary;
}

.timeline:hover .marker .marker-info.active,
.timeline:focus .marker .marker-info.active {
  height: auto;
  opacity: 1;
}

ul.ruler {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;

  li{
    text-align: center;
    font-size: 0.75rem;
    white-space: nowrap;
  }

  li::before {
    content: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $highlight-color;
  }

  li, li::before {
    width: 1px;
  }

  li:nth-child(odd)::before{
    height: 5px;
  }

  li:nth-child(even)::before{
    height: 3px;
  }
}

.vertical-rule, .current-rule {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 0;
  margin: 0;
  padding: 0;

  pointer-events: none;
}

.icon-preview {
  display: flex;
  align-items: center;
  color: #F7EDE2;
  border: 1px solid #655560;
  border-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  img {
    width: 2.25rem;
    height: 2.25rem;
  }
}

.game-container {
  min-height: 50px;
  max-height: 28vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: #251e23;
  border-radius: $border-roundness;
}

.game-info {
  display: flex;
  align-items: center;

  border: 1px solid $highlight-color;
  border-radius: $border-roundness;

  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;

  img {
    width: 32px;
    height: 32px;
    border-radius: $border-roundness;
  }

  h4 {
    font-size: 1rem;
    margin: 0;
    margin-left: 1rem;
  }

  button {
    margin-left: auto;
  }
}

.vertical-rule {
  display: none;
  border-left: 1px dashed #ffffff88;
  z-index: 999;
}

.current-rule {
  border-left: 2px dashed color.change($primary, $alpha: 0.5);
  z-index: -2;
}

.vertical-rule.active {
  display: initial;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: $background-color;
  z-index: 9999;

  h1 {
    font-size: 2rem;
    margin: 0;
  }
}

.settings-panel {
  .settings-panel-buttons {
    width: 96px;
    display: flex;
    justify-content: space-between;
  }
}

main {
  margin-bottom: 5rem;
}


@media (max-width: 768px) {
  ul.ruler li{
    text-align: center;
    font-size: 0.75rem;
    white-space: pre-wrap;
  }

  .first-marker-info {
    margin-top: 0.15rem;
    width: 100%;
  }

  .main-timeline {
    .main-timeline-info {
      select {
        display: none;
      }
      select.active {
        display: block;
      }
    }
  }
}